In [2]:
str1="Hello I am Roopa"
str2="This is Python Practice"
print(str1)
print(str2)

Hello I am Roopa
This is Python Practice

In [8]:
str1='Hello I am Roopa'
type(str1)
id(str1)

2571029599200

In [9]:
len(str1)

16

In [50]:
mystr = ('Happy\n' 
         'Monday\n'
         'Everyone')
print(mystr)

Happy
Monday
Everyone

In [11]:
str2='This is Python Practice'
print(str2)

This is Python Practice

In [16]:
str2='''This is python practice'''
print(str2)

This is python practice

In [17]:
str3="""This is python's practice"""
print(str3)

This is python's practice

In [20]:
str4("This is Python's practice")
print(str4)

NameError: name 'str4' is not defined

In [22]:
str5("learn bay provides "java", "python" class")
print(str5)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1719402378.py, line 1)

In [23]:
str6("""learn bay provides "java", "python" class""")

NameError: name 'str6' is not defined

In [29]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."
print("length of my str is",len(my_str))
id(my_str)
id(my_str1)

length of my str is 66

2571037227440

In [35]:
if id(my_str==my_str1):
        print("id of my str and id of mystr1 is same")
type(my_str)

id of my str and id of mystr1 is same

str

In [37]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[::])

Although that way may not be obvious at first unless you're Dutch.

In [57]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[::-1])
len(my_str)

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

66

In [40]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[0:15:3])

Ahgtt

In [44]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[3:-20])

hough that way may not be obvious at first

In [53]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[0::2])

Atog htwymyntb biu tfrtuls o'eDth

In [55]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[0::3])

Ahgttam tebo  r lsorDc

In [63]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[::-2])

.cu ruysen si asovoe o a a athuhl

In [88]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str[10:13:-1])

In [93]:
str1="Python"
str2="Python"

str1==str2

True

In [95]:
str1<=str2

True

In [96]:
str1>=str2

True

In [97]:
str1="python"
str2="Python"
str1==str2

False

In [98]:
str1<=str2

False

In [99]:
str1>=str2

True

In [102]:
a='Python'
b=''
print(a==b)
print(a!=b)
print(a and b)

False
True

In [24]:
str1 = 'Learnbay'
str2 = 'Python'
str3=str1+" "+str2
print(str3)

Learnbay Python

In [17]:
str1="This is Python Class"

In [33]:
a = 'Python'
b = 'LearnBay'
print(a and b)
print(a or b)
print(a not b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (352962675.py, line 5)

In [46]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
my_str.count('t')
my_str.index('8')
my_str.find('8')
print(my_str.find('the'))
#print(my_str.index('the'))
print(my_str.find('t', 9, 15))
print(my_str.rfind('u'))
print(my_str.rindex('u'))

-1
11
63
63

In [48]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
my_str.upper()

"ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH"

In [49]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
my_str.lower()

"although 8 that way may not be obvious at first unless you're dutch"

In [52]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
my_str.swapcase()

"aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH"

In [ ]:
my_str1=input("Enter any string:")

In [ ]:
s = chr(65) + chr(97)
print(s.isprintable())

In [60]:
#list examples
list1=[2,3,4,5]
print (type(list1))

<class 'list'>

In [61]:
len(list1)

4

In [62]:
list2 = [10,30,60,10,30,56,3,2,3456,3612,14]      # List of integers numbers
len(list2)

11

In [64]:
print (id(list2))

2204434013056

In [65]:
print(id(list2[1]))

2204307227792

In [66]:
list4 = ['one','two' , "three"]   # List of strings

In [67]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]]    # Nested Lists

In [73]:
print (list5[3][0])

150

In [78]:
list5.index([50,100 ])

2

In [116]:
list6 = ['Asif', 25,True ,{"one":101,"two":201},{1:"jack",2:"rose"},[50, 100],[150, 90] , {'John' , 'David','Roopa','Kishore'}]

In [80]:
d={"one":101,"two":201}
d.get("one")

101

In [88]:
# [start:end-1] - slicing
list6[2:6]

[True, {'one': 101, 'two': 201}, {1: 'jack', 2: 'rose'}, [50, 100]]

In [89]:
list6[:-2]

['Asif', 25, True, {'one': 101, 'two': 201}, {1: 'jack', 2: 'rose'}, [50, 100]]

In [101]:
list6[:-3]

['Asif', 25, True, {'one': 101, 'two': 201}, {1: 'jack', 2: 'rose'}]

In [103]:
print (list6[::-1])

[{'David', 'John'}, [150, 90], [50, 100], {1: 'jack', 2: 'rose'}, {'one': 101, 'two': 201}, True, 25, 'Asif']

In [117]:
list6[-1]

{'David', 'John', 'Kishore', 'Roopa'}

In [111]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]]

In [112]:
list5[-1]

[150, 90]

In [119]:
list5[-3]

25

In [120]:
len(list5)

4

In [122]:
print (list6[3:6])

[{'one': 101, 'two': 201}, {1: 'jack', 2: 'rose'}, [50, 100]]

In [124]:
list5[2:]

[[50, 100], [150, 90]]

In [125]:
list5[:-2]

['Asif', 25]

In [126]:
list5[-4]

'Asif'

In [127]:
list5[::]

['Asif', 25, [50, 100], [150, 90]]

In [129]:
list6 = ['Asif', 25,True ,{"one":101,"two":201},{1:"jack",2:"rose"},[50, 100],[150, 90] , {'John' , 'David','Roopa','Kishore'}]
print(list6[:3])
print(list6[4:])

['Asif', 25, True]
[{1: 'jack', 2: 'rose'}, [50, 100], [150, 90], {'Kishore', 'David', 'Roopa', 'John'}]

In [130]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight','nine','ten']
for i in mylist:
    print(i[::-1])

eno
owt
eerht
ruof
evif
xis
neves
thgie
enin
net

In [141]:
mylist.append('siddu')
mylist.append('krishna')
print (mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'siddu', 'siddu', 'krishna', 'siddu', 'krishna', 'siddu', 'krishna', 'siddu', 'siddu', 'krishna', 'siddu', 'krishna']

In [143]:
del mylist

In [144]:
mylist

NameError: name 'mylist' is not defined

In [146]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [152]:
mylist.insert(3,' ')
print (mylist)

['one', 'two', 'three', ' ', 'siddu', 'siddu', 'siddu', 'roopa', 'roopa', 'four', 'five', 'six', 'seven']

In [156]:
mylist.remove("siddu")
print (mylist)

ValueError: list.remove(x): x not in list

In [157]:
mylist.pop()
print (mylist)

['one', 'two', 'three', ' ', 'roopa', 'roopa', 'four', 'five', 'six']

In [160]:
mylist.pop(4)
print (mylist)

['one', 'two', 'three', 'roopa', 'five', 'six']

In [162]:
del mylist[3]
mylist

['one', 'two', 'three', 'five', 'six']

In [164]:
mylist.insert(3,'four')
mylist

['one', 'two', 'three', 'four', 'five', 'four', 'six']

In [165]:
del mylist[5]
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [166]:
# Change value of the string
mylist[0] = "law"
mylist[1] = "king"
mylist[2] = 500
mylist

['law', 'king', 500, 'four', 'five', 'six']

In [168]:
q=['law', 'king', 'orange', 'six', 'False', 'eight', 'orange', 'one']

for i in range(len(q)):
    if q[i]=="orange":
       q[i]="banana"
print(q)

['law', 'king', 'banana', 'six', 'False', 'eight', 'banana', 'one']

In [169]:
mylist1=mylist
print(mylist1)

['law', 'king', 500, 'four', 'five', 'six']

In [171]:
id(mylist),id(mylist1)

(2204435541568, 2204435541568)

In [174]:
mylist2=mylist.copy()
print (mylist2)

['law', 'king', 500, 'four', 'five', 'six']

In [175]:
list1 = ['one', 'two', 'three', 'four',"34",True,45.12]
list2 = ['five', 'six', 'seven', 'eight','one','two']

In [177]:
list3=list1+list2
print (list3)

['one', 'two', 'three', 'four', '34', True, 45.12, 'five', 'six', 'seven', 'eight', 'one', 'two']

In [178]:
'two' in list2

True

In [179]:
'ten' in list2

False

In [180]:
list2

['five', 'six', 'seven', 'eight', 'one', 'two']

In [182]:
if 'three' in list2:
    print("three is present in list2")
else:
     print("three is not present in list2")
print(list2)

three is not present in list2
['five', 'six', 'seven', 'eight', 'one', 'two']

In [185]:
list2.reverse()
list2

['two', 'one', 'eight', 'seven', 'six', 'five']

In [186]:
list3=list2[::-1]#revereses the list
list3

['five', 'six', 'seven', 'eight', 'one', 'two']

In [187]:
list1

['one', 'two', 'three', 'four', '34', True, 45.12]

In [190]:
list2.sort()
list2

['eight', 'five', 'one', 'seven', 'six', 'two']

In [191]:
list2.sort(reverse=True)
list2

['two', 'six', 'seven', 'one', 'five', 'eight']

In [192]:
mylist3 = [9,5,2,99,12,88,34]
min(mylist3)

2

In [193]:
max(mylist3)

99

In [194]:
sum(mylist3)

249

In [197]:
avg=sum(mylist3)/len(mylist3)
avg

35.57142857142857

In [201]:
for i in mylist3:
    print (i)

9
5
2
99
12
88
34

In [203]:
for i in enumerate(mylist3):
    print (i)

(0, 9)
(1, 5)
(2, 2)
(3, 99)
(4, 12)
(5, 88)
(6, 34)

In [205]:
for index,value in enumerate(mylist3):
    print(index,value)

0 9
1 5
2 2
3 99
4 12
5 88
6 34

In [211]:
mylist3.count(88)

1

In [220]:
new_list=[]#print even numbers
for i in range(1,50):
    if i % 2==0:
        new_list.append(i)
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [222]:
user_input=int(input("Till How many numbers we want to find even:"))
print(user_input)

new_list=[item for item in range(1,user_input) if item%2==0]#list comprehension
print(new_list)

Till How many numbers we want to find even:40
40
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [229]:
odd_list=[i for i in range(20) if i%2==1]#list comprehension
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [230]:
even_list=[i for i in range(30) if i%2==0]#list comprehension
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [228]:
mystring = "WELCOME"
mylist = [i for i in mystring] # Iterating through a string Using List Comprehension
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [231]:
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between 0 - 10 using List Comprehension
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [232]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list2 = [i*10 for i in list1]
list2

[20, 30, 40, 50, 60, 70, 80]

In [233]:
a = ['a','b','a','d'] 

c= [i.replace(i,'c') for i in a if i == 'a'] 
print(c)

['c', 'c']

In [234]:
print(a)

['a', 'b', 'a', 'd']

In [235]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension
#default is "and"
mylist4 = [i for i in range(100) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72]

In [4]:
keys = {'a' , 'b' , 'c' , 'd'}
value = {'10',20,30,40}
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of keys with value
print(mydict3)

{'c': {40, 20, '10', 30}, 'd': {40, 20, '10', 30}, 'b': {40, 20, '10', 30}, 'a': {40, 20, '10', 30}}

In [6]:
mystr4 = "one two six seven one one one ten eight ten nine eleven  nine"
print(mystr4.split())
type(mystr4)

['one', 'two', 'six', 'seven', 'one', 'one', 'one', 'ten', 'eight', 'ten', 'nine', 'eleven', 'nine']

str

In [7]:
a = 300
b = 3000

if b == a:
    print("A")
    print("B")
    print("b is greater than a")

print("Hello")
print("Byee")

Hello
Byee

In [8]:
a = 300
b = 300

if b != a:
    print("A")
    print("B")
    print("b is greater than a")
else:
    print("Byee")
    print("End")

Byee
End

In [9]:
a = 331
b = 3310

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")

print("Hiieee")
print("Byeee")

b is greater than a
Hiieee
Byeee

In [14]:
a = 3310
b = 331

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")
else:
    print("No condition matches")
print("Hiieee")
print("Byeee")

a is greater than b
Hiieee
Byeee

In [17]:
name="zack"
if name[0]=="z":
    print("matched")
else:
    print("no match")

matched

In [18]:
a = 2200
b = 333
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
    print("a is greater than b")
    print("king")
    print("Byeee")
print("the end")

a is greater than b
king
Byeee
the end

In [23]:
age=int(input("enter your age"))
print (age)
if age>18:
    print("can vote")
else:
    print("cannot vote")
print("the end")

enter your age16
16
cannot vote
the end

In [24]:
a = 200
b = 33
c = 500
if (a > b) and (c > a):
    print("Both conditions are True")
else:
    print("end")

Both conditions are True

In [27]:
n=int(input("please entry any year:"))

if n%4==0 and n%100==0:
       print("leap year")
elif n%100==0:
      print("not a leap year")
elif n%400==0:
      print("Leap year")
else:
      print("no leap year")

please entry any year:2024
no leap year

In [28]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")
else:
    print("end")

At least one of the conditions is True

In [34]:
x = 10

if x >= 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")
else:
    print("byee")

Above ten,
but not above 20.

In [36]:
x = int(input("enter a number please"))#user input

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")
else:
    print("byee")

enter a number please10
byee

In [40]:
number=65

if number%2==0 and number%3==0:
    print("its divisble by 2 and 3")

elif number%13==0:
    print("yes its divisble by 13")

else:
    print("I am in else")

yes its divisble by 13

In [44]:
name="daw"

if name=="jack":
    print("hi")
elif name=="daw":
    print("bye")
else:
    print("end")

bye

In [52]:
number = 90

if number%2==0 and number%3==0:
    print("hey")
elif number%2==0:
    print("Even Number")
else:
    print("Odd Number")

hey

In [68]:
#difference bewtween above and below
number = 98

if number%2==0 and number%1==0:
    print("Even Number")
#if number%2==0:
    #print("Even Number")
#if number%3==0:
   #print("Odd Number")
else:
    print("Odd Number")

Even Number

In [55]:
#For loops: to iterate a string
name="roopa"

for char in name:
    print(char)

r
o
o
p
a

In [56]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [57]:
name="jackson"
for item in enumerate(name):
    print(item)

(0, 'j')
(1, 'a')
(2, 'c')
(3, 'k')
(4, 's')
(5, 'o')
(6, 'n')

In [70]:
fruits = ["apple", "banana", "cherry"]
for index,value in enumerate(fruits):
    print(index,value)

0 apple
1 banana
2 cherry

In [71]:
fruits = ["apple", "banana", "cherry"]
for fruit in enumerate(fruits):
    print(fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

In [72]:
name="jackson"
for index,value in enumerate(name):
    print(index,value)

0 j
1 a
2 c
3 k
4 s
5 o
6 n

In [73]:
for number in range(1,6):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [74]:
for i in range(1,3):
    for j in range(1,11):
        print(f" {i} X {j}= {i * j}")
    print("---")

 1 X 1= 1
 1 X 2= 2
 1 X 3= 3
 1 X 4= 4
 1 X 5= 5
 1 X 6= 6
 1 X 7= 7
 1 X 8= 8
 1 X 9= 9
 1 X 10= 10
---
 2 X 1= 2
 2 X 2= 4
 2 X 3= 6
 2 X 4= 8
 2 X 5= 10
 2 X 6= 12
 2 X 7= 14
 2 X 8= 16
 2 X 9= 18
 2 X 10= 20
---

In [1]:
for i in range(8):
    print()
    for j in range(i+1):
        print("*",end="")

*
**
***
****
*****
******
*******
********

In [2]:
rows=5
mid_point=rows//2
print(mid_point)

#iterate rows
for i in range(rows):
    #print space before the start
    for j in range(rows-i-1):
        print("-",end="")

    #print starts
    for k in range(2*i+1):
        print("*",end="")
    print()

2
----*
---***
--*****
-*******
*********

In [5]:
fruits = ["apple", "banana", "cherry","jackfruit","fig","kiwi","banana"]

for x in fruits:
    print(x)
    if x=="cherry":
      break 

print("hey")
print("byee")

apple
banana
cherry
hey
byee

In [6]:
fruits = ["apple", "banana", "cherry","jackfruit","fig","kiwi"]
for x in fruits:
    if x in ["banana", "fig"]:
        continue
    print(x)
print("bye")

apple
cherry
jackfruit
kiwi
bye

In [7]:
mydict = {}   # empty dictionary
type(mydict)

dict

In [8]:
len(mydict)

0

In [9]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
print(mydict)

{1: 'one', 2: 'two', 3: 'three'}

In [11]:
mydict = {1:'two',1:"jack" ,1:'two',1:"jack" ,1:[2,3,4],  3:'three',"jack":1} # dictionary with duplicate integer keys
mydict

{1: [2, 3, 4], 3: 'three', 'jack': 1}

In [12]:
keys = [1,2,3] # can be set,list,tuple
mydict = dict.fromkeys(keys)
print (mydict)

{1: None, 2: None, 3: None}

In [13]:
keys = {'a' , 'A' , 'c' , 'd'}
value = "tcs"
mydict3 = dict.fromkeys(keys , value)  # Create a dictionary from a sequence of keys with value
print(mydict3)

{'A': 'tcs', 'c': 'tcs', 'd': 'tcs', 'a': 'tcs'}

In [14]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [15]:
#update/change values in a Dictionary
mydict1['DOB'] = 1992  # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [16]:
key = ['one' , 'two' , 'three' , 'four']
value = [1,2,3,4,5]

for k,v in zip(key,value):
    print(k,v)

one 1
two 2
three 3
four 4

In [17]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]


mydict = {k:v for k,v in zip(key,value)} # using dict comprehension to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [18]:
new_dict = {"Person": "Amit", "Contact": 892909889}

new_dict.update([('Address',"Delhi"), ('Pin',110059)])
for key in new_dict.items():
    print(key)

('Person', 'Amit')
('Contact', 892909889)
('Address', 'Delhi')
('Pin', 110059)

In [19]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict2 = {k:k*2 for k in mydict1.values()} # Divide all values in a dictionary by 10
print(mydict2)

{10: 20, 20: 40, 30: 60, 40: 80, 50: 100}

In [20]:
str1 = "Natural"

mydict2 = {k:v for (k,v) in enumerate(str1)} # Store enumerated values in a dictionary
print(mydict2)

{0: 'N', 1: 'a', 2: 't', 3: 'u', 4: 'r', 5: 'a', 6: 'l'}

In [26]:

def sub_two_numbers(f_num,s_num):
    result=f_num-s_num
    return result

In [28]:
sub_two_numbers(60,40)

20

In [35]:
def details(name,country,idno):
    return name,country,idno

In [37]:
details('roopa','india','12233')

('roopa', 'india', '12233')

In [38]:
result=f_num+s_num
print(result)

60

In [41]:
res=f_num/s_num
print(res)

2.0

In [42]:
def add_numbers(s_num,f_num):
    return s_num+f_num

In [43]:
add_numbers(40,60)

100

In [44]:
def details(name,userid,country): # Function to print User details
    print('Name :- ', name)
    print('User ID is :- ', userid)
    print('Country :- ',country)
    

details('Asif' , 'asif123' , 'India')

Name :-  Asif
User ID is :-  asif123
Country :-  India

In [47]:
details=("roopa","fdf","India")
print(details)

('roopa', 'fdf', 'India')

In [48]:
def even_odd (num): #Even odd test
    """ This function will check whether a number is even or odd"""
    if num % 2 ==0:
        print (num, ' is even number')
    else:
        print (num, ' is odd number')

even_odd(9)
even_odd(8)

9  is odd number
8  is even number

In [50]:
#position arguments example:
def fullname (firstname , middlename ,lastname): 
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print (fullname)


fullname('jack','Asif','dawson' )

jack Asif dawson

In [51]:
# Keyword Arguments. Order of the arguments does not matter.
def fullname (firstname , middlename ,lastname): 
    fullname = f"This is string formating {firstname} {middlename} {lastname}"
    print (fullname)

In [52]:
fullname('roopa','gowni','palli')

This is string formating roopa gowni palli

In [53]:
#default parameter value
def myfunc(name,city="Pune"):
    print("My Name is:",name)
    print('My  City is:- ', city)

In [55]:
myfunc('roopa')

My Name is: roopa
My  City is:-  Pune

In [56]:
myfunc("Jack","Ladakh")

My Name is: Jack
My  City is:-  Ladakh

In [67]:
var1 = 100 # Variable with Global scope.

def myfunc():
    print(var1) # Value 100 will be displayed due to global scope of var1



def add():
    var3=10
    return(var3+var1)

In [63]:
myfunc(var1)

TypeError: myfunc() takes 0 positional arguments but 1 was given

In [68]:
print (myfunc())
print (add())

100
None
110

In [78]:
if 10>20:
    address="pune"
    flag=True
    print(flag)
else:
    flag=False

In [73]:
flag

False

In [77]:
print (address)

NameError: name 'address' is not defined

In [79]:
#Without Recursion
def find_rec(num):
    result=1
    for i in range(1,num+1):
        result=result*i
    return result

In [82]:
find_rec(6)

720

In [1]:
def find_factorial(num):  # Calculate factorial of a number using recursive function call.
    if num ==1 :
        return 1
    else:
        return num * find_factorial(num-1)

In [2]:
find_factorial(5)

120

In [ ]:
def add(num):  # Sum of first n natural numbers
    if num == 6:
        return 6
    else:
        return num + add(num+1)

add(7) # Sum of first five natural numbers (1,2,3,4,5)

In [3]:
def add(a,b,c):
    return a+b+c
    
print(add(10,20,30)) # Sum of two numbers

60

In [4]:
def add_new(*args):
    
    return sum(args)

In [5]:
print(add_new(10,20,30))
print(add_new(10,20))
print(add_new(10,20,30,50,11))
print(add_new(10,20,30,11))
print(add_new(10,20,30,90,99,66))

60
30
121
71
315

In [6]:
def UserDetails(*args):
    print(args)

UserDetails('Asif' , 7412 , 41102 , 33.67 ,  'India' , 'Hindi')

''' For the above example we have no idea about the parameters passed e.g 7412 , 41102 , 33 etc.
    In such cases we can take help of Keyworded arguments (**kwargs) '''

('Asif', 7412, 41102, 33.67, 'India', 'Hindi')

' For the above example we have no idea about the parameters passed e.g 7412 , 41102 , 33 etc.\n    In such cases we can take help of Keyworded arguments (**kwargs) '

In [7]:
def UserDetails(**kwargs):
    print(kwargs)

In [8]:
UserDetails(pincode=7412,country1="Bhutan",country='India',name='Asif' ,   agagg=41102 , age= 33.6 ,   Language= 'Hindi')

{'pincode': 7412, 'country1': 'Bhutan', 'country': 'India', 'name': 'Asif', 'agagg': 41102, 'age': 33.6, 'Language': 'Hindi'}

In [9]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))

UserDetails(FirstName='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' , Language= 'Hindi')

FirstName :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Hindi

In [12]:
def add_numbers_new(*args):
    result=0
    for i in args:
        result=result+i
        print(result)

In [13]:
add_numbers_new(2,7,11,5)

2
9
20
25

In [10]:
num=[2,7,11,5]

In [2]:
def finding_index(target,num):
    result=[]
    for index in range(1,len(num)):
        if num[index-1]+num[index]==target:
            result.append(index-1)
            result.append(index)
    return result

num=[2,7,11,15]
target=9
answer=finding_index(target,num)
print(answer)

[0, 1]

In [3]:
def hello():
    print("A")
    print("B")
    print("C")
    return "Bye"

In [4]:
def sample_generator():
    
    print("A")
    print("j")
    print("o")
    yield 10   #return the value and waits/pauses for next call
    print("p")
    
    print("B")
    yield "jack"
    
    print("C")
    yield 30
    yield "bye its the end"

In [5]:
gen=sample_generator()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

A
j
o
10
p
B
jack
C
30
bye its the end

In [6]:
def sample_gen(x):
    for i in range(1,x):
        yield i

In [7]:
obj_gen=sample_gen(10001)
print(next(obj_gen))
print(next(obj_gen))
print(next(obj_gen))
print(next(obj_gen))

1
2
3
4

In [8]:
def mygen():
    n = 1
    yield n

    n += 1
    yield n

    n +=1
    yield n

    n += 1
    yield n
    
    n += 1
    yield n

In [10]:
mygen1 = mygen()
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))

1
2
3
4
5

In [12]:
def gen_value(first,last):
    while first < last:
        yield first
        first=first+1

In [13]:
res=gen_value(2,5)
for i in res:
    print(i)

2
3
4

In [14]:
def mygen():
    for i in range(1,20):
        if i%2 == 0:
            yield i

    
mygen1 = mygen()

for i in mygen1:
    print(i)

2
4
6
8
10
12
14
16
18

In [15]:
# This Generator function will generate ten numbers of fibonacci series.
def myfibo():
    num1 , num2 = 0,1
    count = 0
    while count < 10:
            yield num1
            num1,num2 = num2,num1+num2
            count+=1

            
fibo = myfibo()

for i in fibo:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [16]:
list1 = list(myfibo()) # Store the fibonacci series in a list
list1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [18]:
list2 = [i**2 for i in range(10)]  # List comprehension
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
gen2 = (i**2 for i in range(10)) # Generator expression
gen2

for i in gen2:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [27]:
gen2 = (i for i in range(40) if i%2 == 0) # Generator expression to generate even numbers 
gen2

for i in gen2:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [34]:
def calculate(lst):
    n=len(lst)
    sum=0
    i=0
    for i in lst:
        sum+=i
    avg=sum/n
    return sum,avg
    
print("enter the numbers separated by space:")
lst=[int(x) for x in input().split()]
x,y=calculate(lst)
print("total: ",x)
print("average:",y)

enter the numbers separated by space:
10 20 30 40
total:  100
average: 25.0

In [36]:
f=lambda x,y:x*y
value= f(4,5)
print("multiplication of x and y:",value)

multiplication of x and y: 20

In [42]:
lst=[2,3,4,5]
lst1=list(filter(lambda x: (x%2==0), lst))
print(lst1)

[2, 4]

In [44]:
lst=[1,2,3,4,5]
list1=list(map(lambda x: (x*x),lst))
print(list1)

[1, 4, 9, 16, 25]

In [45]:
lst=[1,2,3,4,5]
result=reduce(lambda x,y: (x*y),lst)
print(result)

NameError: name 'reduce' is not defined

In [1]:
def sample_generator():
    print("A")
    print("B")
    yield "king"
    print("j")
    print("o")
    yield 10   #return the value and waits/pauses for next call
    print("p")

    print("B")
    yield "jack"
    
    print("C")
    #yield 30
    
    yield "bye its the end"
    yield 30

In [3]:
gen=sample_generator()
print(next(gen))
print(next(gen))

A
B
king
j
o
10

In [11]:
def sample_gen(x):
    for i in range(1,x):
      yield i

In [13]:
obj_gen=sample_gen(1000)
print(next(obj_gen))

1

In [1]:
def target_sum(list1, target):
  target_index = []
  final_list = []
  for i in range(len(list1)):
    for j in range(len(list1)):
      if i == j:
        pass
      elif list1[i] + list1[j] == target:
          target_index.append([i,j])

  for i in target_index:
    i.sort()
    if not i in final_list:
      final_list.append(i)

  print(final_list)


target_sum([13,4,2,3,3,4,6], 6)

[[1, 2], [2, 5], [3, 4]]

In [2]:
a = 97657679045

if len(str(a)) == 10:
    print('accepted')
else:
    print('rejected')

rejected

In [1]:
a = 97657679045

if len(str(a)) == 10:
    print('accepted')
else:
    print('rejected')

rejected

In [2]:
!conda install numpy

^C

In [3]:
conda install numpy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\anaconda3

  added / updated specs:
    - numpy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.05.30 |       haa95532_0         120 KB
    certifi-2023.5.7           |  py310haa95532_0         153 KB
    openssl-1.1.1u             |       h2bbff1b_0         5.5 MB
    ------------------------------------------------------------
                                           Total:         5.8 MB

The following packages will be UPDATED:

  ca-certificates                     2023.01.10-haa95532_0 --> 2023.05.30-haa95532_0
  certifi                         2022.12.7-py310haa95532_0 --> 2023.5.7-py310haa95532_0
  openssl                                 1.1.1t-h2bbff1b_0 --> 1.1.1u-h2bbff1b_0



Downloading and Extracting Packages

certifi-2023.5.7     | 153 KB    |            |   0%

ca-certificates-2023 | 120 KB    |            |   0%


openssl-1.1.1u       | 5.5 MB    |            |   0%


openssl-1.1.1u       | 5.5 MB    |            |   0%

ca-certificates-2023 | 120 KB    | #3         |  13%
certifi-2023.5.7     | 153 KB    | #          |  10%


openssl-1.1.1u       | 5.5 MB    | ##         |  20%

ca-certificates-2023 | 120 KB    | ########## | 100%

ca-certificates-2023 | 120 KB    | ########## | 100%


openssl-1.1.1u       | 5.5 MB    | ######6    |  66%
certifi-2023.5.7     | 153 KB    | ########## | 100%
certifi-2023.5.7     | 153 KB    | ########## | 100%


openssl-1.1.1u       | 5.5 MB    | ########## | 100%


openssl-1.1.1u       | 5.5 MB    | ########## | 100%








Preparing transaction: ...working... done
Verifying transaction: ...working... failed

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 23.3.1
  latest version: 23.5.2

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.5.2



EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\anaconda3

In [4]:
!pip install NumPy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: NumPy in c:\programdata\anaconda3\lib\site-packages (1.23.5)

In [7]:
!np.__version__

'np.__version__' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
a=10
b=20
c=a+b
print("sum of two numbers",c)

sum of two numbers 30